@{
    ViewData["Title"] = "Education";
}
<h2>Education</h2>
<ul>
    <li>BSc in Computer Science – University of Lagos, 2020</li>
    <li>Diploma in Full Stack Web Development – AltSchool Africa, 2024</li>
</ul>
