@{
    ViewData["Title"] = "Experience";
}
<h2>Work Experience</h2>
<ul>
    <li><strong>Software Developer</strong> – Bincom Dev Center (2024 – Present)</li>
    <li><strong>Intern Developer</strong> – SoftTech Solutions (2023)</li>
</ul>
