@{
    ViewData["Title"] = "Skills";
}
<h2>Skills</h2>
<ul>
    <li>C# / ASP.NET MVC</li>
    <li>JavaScript / Node.js</li>
    <li>HTML, CSS, Bootstrap</li>
    <li>Git & GitHub</li>
    <li>Azure / Cloud Deployment</li>
</ul>

